body {
    font-family: 'Ubuntu';font-size: 22px;
}

html { 
  background: url(img/FB_IMG_15887030292886635.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.first {
  background: rgba(76, 175, 80, 0.2);
}
