body {
    font-family: 'Ubuntu';font-size: 22px;
}

html { 
  background: url(img/FB_IMG_15887030292886635.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.head {
background-color: dodgerblue; 
text-align: center;
font-size: 100.01%
color: #ffffff;
}

div.body {
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF
}

div.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: center;
}
