body {
    font-family: 'Ubuntu';font-size: 22px;
}

html { 
  background: url("https://github.com/LNKNITE/resources/blob/main/images/FB_IMG_15887030292886635.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
